@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    color: #d9f4ff94;
    font-size: 1.3em;
    width: 100%;
}




/*--- Menu de navegación --- */
.navbar {
    transition: background-color 0.3s;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #fff !important;
    font-family: "Oswald", sans-serif;
}

.navbar .logo_nav {
    width: 8rem;
    margin: auto;
}

.navbar .logo_nav_movile {
    width: 8rem;
    margin: auto;
    display: none !important;
}

/*--- ------------------ --- */
/*--- Carrusel --- */
.section_carrousel {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.section_carrousel .slider {
    width: 100%;
    height: 100%;
    position: relative;
}

.section_carrousel .slider_movile {
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
}

.section_carrousel .slider .img_crl {
    display: block;
    width: 100vw;
    height: 100vh;
    color: red;

}

.section_carrousel .slider img {
    height: 100vh;
    object-fit: cover;
}

button.slick-next {
    right: 2rem;
    z-index: 10;
}

button.slick-prev {
    left: 2rem;
    z-index: 10;
}

/*--- Contador --- */
.section_carrousel .section_counter {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Oswald', 'sans-serif;';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: #fff;
}

.section_counter .titulo_header {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_counter .titulo_header .title_one {
    color: #64CCC5;
    font-weight: medium;
    font-size: 1.2em;
}


.section_carrousel .contador {
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
}

.section_carrousel .contador div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_carrousel .contador div .number_counter {
    font-size: 7em;
    font-weight: bold;
    color: #DAFFFB;
}

.section_carrousel .contador div .text_counter {
    font-size: 2em;
}

/*--- ------------------ --- */


/* --------------- */


@media only screen and (max-width: 480px) {
    .section_carrousel {
        width: 100vw;
        height: 50vh;
        overflow: hidden;
    }

    .section_carrousel .slider {
        display: none;
    }

    .section_carrousel .slider_movile {
        display: block;
    }

    .navbar .logo_nav_movile {
        display: block !important;
    }
}


@media only screen and (max-width: 990px) {
    .navbar {
        background-color: #176B87 !important;
    }

    .navbar .logo_nav_movile {
        display: block !important;
    }

    .navbar .logo_nav {
        display: none !important;
    }

    .section_carrousel .contador {
        gap: 2rem;
    }

    .section_carrousel .contador div .number_counter {
        font-size: 2em;
    }
    
    .section_carrousel .contador div .text_counter {
        font-size: 1em;
    }

    .section_counter .titulo_header {
        font-size: 1em;
    }
    
    .section_counter .titulo_header .title_one {
        color: #64CCC5;
        font-weight: medium;
        font-size: 1em;
    }

    button.slick-next {
        display: none !important;
    }
    
    button.slick-prev {
        display: none !important;
    }
}